:root {
    /* ### Primary */
    --Scissors-Gradient: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --Paper-Gradient: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --Rock-Gradient: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --Lizard-Gradient: linear-gradient(to top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --Cyan: linear-gradient(to right, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    /* ### Neutral */
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);

    /* ### Background */
    --Radial-Gradient: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}


* {
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* - Weights: 600, 700 */
}

body {
    margin: 0;
    background: var(--Radial-Gradient);
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    margin: auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    gap: 4rem;
}

/* SCORE HEADER */
header {
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--Header-Outline);
    border-radius: 1rem;
    width: 100%;
    padding: 1.2rem 1.5rem;
    z-index: 5;
}

.title {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

header h1 {
    color: white;
    font-size: 2.8rem;
    line-height: 2.4rem;
    text-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
    margin: 0;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 130px;
    width: 160px;
    border-radius: .5rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);

}

.score h2 {
    font-size: 1rem;
    letter-spacing: .2rem;
    color: var(--Score-Text);
    margin: 0;
}

.score h3 {
    font-size: 4.5rem;
    color: var(--Dark-Text);
    margin: 0;
}

/* RULES BTN */
.rules {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 5;
}

.rules button {
    color: rgba(255, 255, 255, 0.841);
    letter-spacing: .1rem;
    border: 1px solid rgba(255, 255, 255, 0.625);
    border-radius: .3rem;
    background-color: transparent;
    padding: .5rem 2rem;
}


/* GAME START CONTAINER */
.app {
    background: url(images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 2.5rem;
}


/* CIRCLES */
.border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 5;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    z-index: 10;
    border-top: 8px solid hsla(217, 15%, 50%, 0.22);
    cursor: pointer;
}

.circle img {
    height: 85px;
}

.rock {
    grid-column: span 2;
    justify-self: center;
    background: var(--Rock-Gradient);
    border-bottom: 8px solid rgb(177, 13, 13);
}

.paper {
    background: var(--Paper-Gradient);
    border-bottom: 8px solid rgb(44, 41, 191);
    margin-right: 0.75rem;
}

.scissors {
    background: var(--Scissors-Gradient);
    border-bottom: 8px solid rgb(199, 119, 21);
    margin-left: 0.75rem;
}

/* CHOOSING WINNER SECTION */
.result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding-top: 2.5rem;
}

.blank-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 270px;
    border-bottom: 8px solid transparent;
}

.blank-circle {
    background-color: rgba(0, 0, 0, 0.221);
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem
}

.choice p {
    color: white;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    text-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
}

.upsize {
    transform: scale(1.25);
}

.upsize-border {
    width: 270px;
    height: 270px
}

/* RESULT SCREEN */
.result-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: -7rem;
}

.result-display h2 {
    color: white;
    font-size: 4rem;
    text-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
    margin: 0;
    z-index: 5;
}

.result-display button {
    background-color: white;
    border: none;
    border-radius: .3rem;
    color: rgb(254, 34, 34);
    font-size: 1.2rem;
    letter-spacing: .1rem;
    padding: 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
    z-index: 5;
}

/* WINNER CIRCLES */
/* .winner-inner {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #2B3858;
    z-index: 3;
} */

/* .winner-mid {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background-color: #263554;
    opacity: .2;
    z-index: 2;
} */

/* .winner {
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-color: #213251;
    opacity: .1;
    z-index: 1;
} */

.you-won-in {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}



.hidden {
    display: none;
}